<!DOCTYPE html>
<html data-ng-app="application">

<head>
    <meta charset="UTF-8">
    <title>apollo</title>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/angular/angular-toastr-1.4.1.min.css">
    <link rel="stylesheet" type="text/css" media='all' href="vendor/angular/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="styles/common-style.css">
</head>

<body>

<apollonav></apollonav>

<div class="container-fluid apollo-container app" id="config-info">

    <!--具体配置信息-->
    <div class="row config-info-container">

        <!--tag导航-->
        <div class="col-md-3" ng-controller="ConfigBaseInfoController">
            <div id="treeview"></div>
            <!--app info-->
            <section class="panel">
                <header class="panel-heading">
                    <img src="img/info.png" class="i-25-20"/> 应用信息
                            <span class="tools pull-right">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                            </span>
                </header>
                <div class="panel-body">
                    <table class="project-info">
                        <tbody>
                        <tr>
                            <th>AppId:</th>
                            <td ng-bind="appBaseInfo.appId"></td>
                        </tr>
                        <tr>
                            <th>应用名:</th>
                            <td ng-bind="appBaseInfo.name"></td>
                        </tr>
                        <tr>
                            <th>部门:</th>
                            <td ng-bind="appBaseInfo.orgInfo"></td>
                        </tr>
                        <tr>
                            <th>负责人:</th>
                            <td ng-bind="appBaseInfo.ownerName"></td>
                        </tr>
                        <tr>
                            <th>负责人Email:</th>
                            <td ng-bind="appBaseInfo.ownerEmail"></td>
                        </tr>
                        <tr ng-show="missEnvs.length > 0">
                            <th>缺失的环境:</th>
                            <td>
                                        <span ng-repeat="env in missEnvs" ng-bind="env">
                                        </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </section>
            <a class="list-group-item" ng-show="missEnvs.length > 0" ng-click="createAppInMissEnv()">
                <div class="row">
                    <div class="col-md-2"><img src="img/plus-orange.png" class="i-20"></div>
                    <div class="col-md-10 hidden-xs">
                        <p class="btn-title">补缺环境</p>
                    </div>
                </div>
            </a>

            <apolloentrance apollo-title="'添加集群'" apollo-img-src="'img/plus-orange.png'"
                            apollo-href="'cluster.html?#/appid=' + pageContext.appId"></apolloentrance>

            <apolloentrance apollo-title="'添加Namespace'" apollo-img-src="'img/plus-orange.png'"
                            apollo-href="'namespace.html?#/appid=' + pageContext.appId"
                            ng-show="hasCreateNamespacePermission"></apolloentrance>

            <apolloentrance apollo-title="'项目权限'" apollo-img-src="'img/user_manage.png'"
                            apollo-href="'/app/role.html?#/appid=' + pageContext.appId"
                            ng-show="hasAssignUserPermission"></apolloentrance>
            </section>


        </div>

        <!--namespaces-->
        <div class="col-md-9 config-item-container hide" ng-controller="ConfigNamespaceController">
            <div ng-repeat="namespace in namespaces">
                <apollonspanel namespace="namespace" app-id="pageContext.appId"
                               env="pageContext.env" cluster="pageContext.clusterName"
                               pre-release-ns="prepareReleaseNamespace"
                               create-item="createItem" edit-item="editItem"
                               pre-delete-item="preDeleteItem" commit-change="commitChange"
                               show-rollback-tips="showRollbackTips"></apollonspanel>
            </div>

            <!-- delete modal-->
            <apolloconfirmdialog apollo-dialog-id="'deleteConfirmDialog'" apollo-title="'删除配置'"
                                 apollo-detail="'确定要删除配置吗?'" apollo-confirm="deleteItem"></apolloconfirmdialog>

            <apolloconfirmdialog apollo-dialog-id="'releaseNoPermissionDialog'" apollo-title="'发布'"
                                 apollo-detail="'您没有发布权限哦~ 请找 ' + masterUsers + ' 分配权限'"
                                 apollo-show-cancel-btn="false"></apolloconfirmdialog>

            <apolloconfirmdialog apollo-dialog-id="'namespaceLockedDialog'" apollo-title="'编辑受限'"
                                 apollo-detail="'当前namespace正在被 ' + lockOwner + ' 编辑, 一次发布只能被一个人修改.'"
                                 apollo-show-cancel-btn="false"></apolloconfirmdialog>

            <apolloconfirmdialog apollo-dialog-id="'releaseDenyDialog'" apollo-title="'发布受限'"
                                 apollo-detail="'您不能发布哟~ 编辑和发布不能为同一个人'"
                                 apollo-show-cancel-btn="false"></apolloconfirmdialog>

            <apolloconfirmdialog apollo-dialog-id="'rollbackTips'" apollo-title="'回滚'"
                                 apollo-detail="'此操作将会回滚到上一个发布版本，且作废当前版本。确定要回滚吗?'"
                                 apollo-show-cancel-btn="true" apollo-confirm="preRollback"></apolloconfirmdialog>


            <!--create createRelease modal-->
            <form class="modal fade form-horizontal" id="releaseModal" tabindex="-1" role="dialog"
                  ng-submit="release()">
                <div class="modal-dialog" role="document" style="width: 960px">
                    <div class="modal-content">
                        <div class="modal-header panel-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">发布</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    Changes:</label>
                                <div class="col-sm-10" ng-if="toReleaseNamespace.itemModifiedCnt">

                                    <!--properites format-->
                                    <table class="table table-bordered table-striped text-center table-hover"
                                           ng-show="toReleaseNamespace.itemModifiedCnt"
                                           ng-if="toReleaseNamespace.isPropertiesFormat">
                                        <thead>
                                        <tr>
                                            <th>
                                                Key
                                            </th>
                                            <th>
                                                Old Value
                                            </th>
                                            <th>
                                                New Value
                                            </th>
                                            <th>
                                                最后修改人
                                            </th>
                                            <th>
                                                最后修改时间
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="config in toReleaseNamespace.items"
                                            ng-if="config.item.key && config.isModified">
                                            <td width="20%" title="{{config.item.key}}">
                                                        <span class="label label-danger"
                                                              ng-show="config.isDeleted">deleted</span>
                                                <span ng-bind="config.item.key | limitTo: 250"></span>
                                                <span ng-bind="config.item.key.length > 250 ? '...' :''"></span>
                                            </td>
                                            <td width="25%" title="{{config.oldValue}}">
                                                <span ng-bind="config.oldValue | limitTo: 250"></span>
                                                <span ng-bind="config.oldValue.length > 250 ? '...': ''"></span>
                                            </td>
                                            <td width="25%" title="{{config.newValue}}">
                                                <span ng-bind="config.newValue | limitTo: 250"></span>
                                                <span ng-bind="config.newValue.length > 250 ? '...': ''"></span>
                                            </td>
                                            <td width="15%" ng-bind="config.item.dataChangeLastModifiedBy">
                                            </td>
                                            <td width="15%"
                                                ng-bind="config.item.dataChangeLastModifiedTime | date: 'yyyy-MM-dd HH:mm:ss'">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!--file format -->
                                    <div ng-repeat="item in toReleaseNamespace.items"
                                         ng-if="!toReleaseNamespace.isPropertiesFormat">
                                        <h3>new value</h3>
                                        <textarea class="form-control" rows="20" style="border-radius: 0px"
                                                  ng-disabled="true" ng-show="item.newValue" ng-bind="item.newValue">
                                            </textarea>
                                        <hr>
                                        <h3>old value</h3>
                                        <textarea class="form-control" rows="20" style="border-radius: 0px"
                                                  ng-disabled="true" ng-show="item.oldValue" ng-bind="item.oldValue">
                                            </textarea>
                                        <h4 ng-show="!item.oldValue">无</h4>
                                    </div>

                                </div>
                                <div class="col-sm-5">
                                    <span ng-show="!toReleaseNamespace.itemModifiedCnt">
                                        配置没有变化
                                    </span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <apollorequiredfiled></apollorequiredfiled>
                                    Release Name:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" placeholder="input release title"
                                           ng-model="releaseTitle" ng-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Comment:</label>
                                <div class="col-sm-10">
                                            <textarea rows="4" class="form-control" style="margin-top: 15px;"
                                                      ng-model="releaseComment"
                                                      placeholder="Add an optional extended description..."></textarea>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary" ng-disabled="releaseBtnDisabled">发布
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!--table mode item modal-->
            <form class="modal fade form-horizontal" id="itemModal" role="dialog" ng-submit="doItem()">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header panel-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                <span ng-show="tableViewOperType == 'create'"> 添加配置项</span>
                                <span ng-show="tableViewOperType == 'retrieve'"> 查看配置项</span>
                                <span ng-show="tableViewOperType == 'update'"> 修改配置项</span>
                            </h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <apollorequiredfiled
                                            ng-show="tableViewOperType != 'retrieve'"></apollorequiredfiled>
                                    Key
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-model="item.key"
                                           ng-required="true" ng-disabled="tableViewOperType != 'create'">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                    <apollorequiredfiled
                                            ng-show="tableViewOperType != 'retrieve'"></apollorequiredfiled>
                                    Value
                                </label>
                                <div class="col-sm-10">
                                            <textarea type="text" class="form-control" rows="6" ng-model="item.value"
                                                      ng-show="tableViewOperType != 'retrieve'">
                                                </textarea>
                                    <p ng-bind="item.value" ng-show="tableViewOperType == 'retrieve'"></p>
                                </div>
                            </div>
                            <div class="form-group" ng-show="tableViewOperType == 'retrieve'">
                                <label class="col-sm-2 control-label">Released Value</label>
                                <div class="col-sm-10">
                                    <p ng-show="!item.oldValue">这是新增的配置</p>
                                    <p ng-show="item.oldValue" ng-bind="item.oldValue"></p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Comment</label>
                                <div class="col-sm-10">
                                            <textarea class="form-control" ng-model="item.comment" rows="2"
                                                      ng-disabled="tableViewOperType == 'retrieve'">

                                            </textarea>
                                </div>
                            </div>
                            <div class="form-group" ng-show="tableViewOperType != 'retrieve'">
                                <label class="col-sm-2 control-label">
                                    <apollorequiredfiled></apollorequiredfiled>
                                    选择集群</label>
                                <div class="col-sm-10">
                                    <apolloclusterselector apollo-app-id="pageContext.appId"
                                                           apollo-default-all-checked="false"
                                                           apollo-default-checked-env="pageContext.env"
                                                           apollo-default-checked-cluster="pageContext.clusterName"
                                                           apollo-select="collectSelectedClusters">

                                    </apolloclusterselector>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="switchToEdit()"
                                    ng-show="tableViewOperType == 'retrieve' && hasModifyPermission">修改
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="submit" class="btn btn-primary"
                                    ng-show="tableViewOperType != 'retrieve'"
                                    ng-disabled="addItemBtnDisabled && tableViewOperType == 'create'">提交
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <!--rollback-->
            <form class="modal fade form-horizontal" id="rollbackModal" tabindex="-1" role="dialog"
                  ng-submit="rollback()">
                <div class="modal-dialog" role="document" style="width: 960px">
                    <div class="modal-content">
                        <div class="modal-header panel-primary">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">回滚</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row text-center">
                                <span style="font-size: 18px;" ng-bind="firstRelease.name"></span>
                                <span style="font-size: 18px;"> &nbsp;回滚到&nbsp;</span>
                                <span style="font-size: 18px;" ng-bind="secondRelease.name"></span>
                            </div>

                            <div class="form-group" style="margin-top: 15px;">
                                <label class="col-sm-2 control-label">
                                    Changes:</label>
                                <div class="col-sm-10" ng-if="releaseCompareResult.length > 0">
                                    <table class="table table-bordered table-striped text-center table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                Key
                                            </th>
                                            <th>
                                                回滚前
                                            </th>
                                            <th>
                                                回滚后
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr ng-repeat="pair in releaseCompareResult">
                                            <td width="20%" ng-bind="pair.firstEntity.key">

                                            </td>
                                            <td width="40%" ng-bind="pair.firstEntity.value">
                                            </td>
                                            <td width="40%" ng-bind="pair.secondEntity.value">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-5">
                                    <span ng-if="releaseCompareResult.length == 0">
                                        配置没有变化
                                    </span>
                                </div>
                            </div>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-danger" ng-if="releaseCompareResult.length > 0"
                                    ng-disabled="rollbackBtnDisabled">确定回滚
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>


<div ng-include="'views/common/footer.html'"></div>


<!-- jquery.js -->
<script src="vendor/jquery.min.js" type="text/javascript"></script>

<!--lodash.js-->
<script src="vendor/lodash.min.js" type="text/javascript"></script>

<!--nicescroll-->
<script src="vendor/jquery.nicescroll.min.js"></script>

<!--angular-->
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular/angular-ui-router.min.js"></script>
<script src="vendor/angular/angular-resource.min.js"></script>
<script src="vendor/angular/angular-toastr-1.4.1.tpls.min.js"></script>
<script src="vendor/angular/loading-bar.min.js"></script>

<!-- bootstrap.js -->
<script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="vendor/bootstrap/js/bootstrap-treeview.min.js" type="text/javascript"></script>


<!--biz script-->
<script type="application/javascript" src="scripts/app.js"></script>

<!--service-->
<script type="application/javascript" src="scripts/services/AppService.js"></script>
<script type="application/javascript" src="scripts/services/EnvService.js"></script>
<script type="application/javascript" src="scripts/services/UserService.js"></script>
<script type="application/javascript" src="scripts/services/ConfigService.js"></script>
<script type="application/javascript" src="scripts/services/ReleaseService.js"></script>
<script type="application/javascript" src="scripts/services/PermissionService.js"></script>
<script type="application/javascript" src="scripts/services/CommitService.js"></script>
<script type="application/javascript" src="scripts/services/NamespaceLockService.js"></script>


<script type="application/javascript" src="scripts/AppUtils.js"></script>

<!--directive-->
<script type="application/javascript" src="scripts/directive/directive.js"></script>
<script type="application/javascript" src="scripts/directive/namespace-panel-directive.js"></script>

<!--controller-->
<script type="application/javascript" src="scripts/controller/config/ConfigNamespaceController.js"></script>
<script type="application/javascript" src="scripts/controller/config/ConfigBaseInfoController.js"></script>

<script type="application/javascript" src="scripts/PageCommon.js"></script>

</body>
</html>
