<!doctype html>
<html ng-app="index">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/angular/angular-toastr-1.4.1.min.css">
    <link rel="stylesheet" type="text/css" media='all' href="vendor/angular/loading-bar.min.css">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/common-style.css">
    <title>apollo</title>
</head>

<body ng-controller="IndexController">

<div class="site-notice">当前站点支持
    &nbsp;<a ng-repeat="env in envs" ng-class="{selected:selectedEnv == env}" ng-click="switchEnv(env)"><em ng-bind="env">
        </em>&nbsp;</a>
    环境点击切换
</div>

<header class="site-header jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><h1>Apollo</h1>
                <p>携程统一配置中心<br>
                    <span class="package-amount">共收录了 <strong ng-bind="appsCount"></strong> 个项目</span>
                    <a class="btn btn-success" href="app.html">创建项目</a>
                </p>

                <form class="" role="search">
                    <div class="form-group"><input type="text" class="form-control search clearable"
                                                   placeholder="搜索App, 例如:apollo" ng-model="searchKey"
                                                   ng-change="search()"></div>
                </form>
            </div>

        </div>
    </div>

</header>

<div class="container-fluid apollo-container">
    <div class="list-group apps">
        <a class="package list-group-item" href="config.html?#/appid={{app.appId}}"
           ng-repeat="app in apps ">
            <div class="row">
                <div class="col-md-3"><h4 class="apps-name" ng-bind="app.appId"></h4></div>
                <div class="col-md-7 hidden-xs">
                    <p class="apps-description" ng-bind="app.name"></p>
                </div>
                <div class="col-md-2">
                    <p class="apps-description">
                        <span ng-bind="app.ownerName"></span>
                        <br>
                        <span ng-bind="app.ownerEmail"></span>
                    </p>

                </div>
            </div>
        </a>
    </div>
</div>

<div ng-include="'views/common/footer.html'"></div>

<!--angular-->
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular/angular-resource.min.js"></script>
<script src="vendor/angular/angular-toastr-1.4.1.tpls.min.js"></script>
<script src="vendor/angular/loading-bar.min.js"></script>

<!-- jquery.js -->
<script src="vendor/jquery.js" type="text/javascript"></script>

<!-- bootstrap.js -->
<script src="vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!--nicescroll-->
<script src="vendor/jquery.nicescroll.min.js"></script>

<script type="application/javascript" src="scripts/app.js"></script>
<script type="application/javascript" src="scripts/services/AppService.js"></script>
<script type="application/javascript" src="scripts/services/EnvService.js"></script>
<script type="application/javascript" src="scripts/AppUtils.js"></script>
<script type="application/javascript" src="scripts/controller/IndexController.js"></script>

</body>
</html>
