<!doctype html >
<html ng-app="release_history">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="../img/config.png">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/angular/angular-toastr-1.4.1.min.css">
    <link rel="stylesheet" type="text/css" media='all' href="../vendor/angular/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/common-style.css">
    <title>发布历史</title>
</head>

<body>

<apollonav></apollonav>

<div class="container-fluid apollo-container release-history" ng-controller="ReleaseHistoryController">
    <section class="panel col-md-offset-1 col-md-10">
        <div class="panel-heading row">
            <div class="col-md-4">
                <h4>发布历史</h4>
            </div>
            <div class="col-md-8 text-right">
                <a type="button" class="btn btn-info" href="/config.html?#/appid={{pageContext.appId}}">返回到项目首页
                </a>
            </div>

        </div>
        <div class="panel-body">
            <div class="media" ng-repeat="release in releases">
                <div class="media-left media-middle badge-{{$index % 4}}">
                </div>
                <div class="media-body">
                    <div class="row text-right">
                        <span class="label label-info no-radius"
                              ng-show="release.baseInfo.isAbandoned">已废弃</span>
                        <span class="label label-primary no-radius"
                              ng-if="release.active">当前生效</span>
                    </div>
                    <div class="row" id="{{release.baseInfo.id}}">
                        <div class="col-md-2 user">
                            <img src="../img/user.png" class="i-20">
                            <span class="info" ng-bind="release.baseInfo.dataChangeCreatedBy"></span>
                        </div>
                        <div class="col-md-3 time">
                            <img src="../img/time.png" class="i-20">
                        <span class="info"
                              ng-bind="release.baseInfo.dataChangeCreatedTime | date: 'yyyy-MM-dd HH:mm:ss'"></span>
                        </div>
                        <div class="col-md-3 time">
                            <img src="../img/title.png" class="i-20">
                        <span class="info"
                              ng-bind="release.baseInfo.name" ng-class="{'highlight':pageContext.scrollTo == release.baseInfo.id}"></span>

                        </div>
                        <div class="col-md-4 comment" ng-show="release.baseInfo.comment">
                            <img src="../img/comment.png" class="i-20">
                            <span class="info" ng-bind="release.baseInfo.comment"></span>
                        </div>

                    </div>

                    <table class="table table-hover table-bordered table-striped" ng-show="!isTextFile">
                        <tr ng-repeat="item in release.items">
                            <td width="30%" ng-bind="item.key">

                            </td>
                            <td width="70%" ng-bind="item.value">
                            </td>
                        </tr>
                    </table>
                    <textarea class="form-control no-radius" rows="15" ng-show="isTextFile"
                              ng-bind="release.items[0].value" disabled>

                    </textarea>
                </div>
            </div>
            <div class="text-center load-more">
                <button type="button" class="btn btn-default" ng-show="!hasLoadAll"
                        ng-click="loadMore()">加载更多
                    <span class="glyphicon glyphicon-menu-down"></span>
                </button>
            </div>
            <div class="text-center" ng-show="!releases.length">
                <h4>还没发布过哟~</h4>
            </div>
        </div>
    </section>

</div>

<div ng-include="'../views/common/footer.html'"></div>

<!-- jquery.js -->
<script src="../vendor/jquery.min.js" type="text/javascript"></script>

<!--angular-->
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/angular/angular-route.min.js"></script>
<script src="../vendor/angular/angular-resource.min.js"></script>
<script src="../vendor/angular/angular-toastr-1.4.1.tpls.min.js"></script>
<script src="../vendor/angular/loading-bar.min.js"></script>


<!-- bootstrap.js -->
<script src="../vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!--nicescroll-->
<script src="../vendor/jquery.nicescroll.min.js"></script>

<!--biz-->
<script type="application/javascript" src="../scripts/app.js"></script>
<script type="application/javascript" src="../scripts/services/AppService.js"></script>
<script type="application/javascript" src="../scripts/services/EnvService.js"></script>
<script type="application/javascript" src="../scripts/services/ReleaseService.js"></script>
<script type="application/javascript" src="../scripts/services/UserService.js"></script>
<script type="application/javascript" src="../scripts/AppUtils.js"></script>
<script type="application/javascript" src="../scripts/controller/config/ReleaseHistoryController.js"></script>

<script type="application/javascript" src="../scripts/PageCommon.js"></script>
<script type="application/javascript" src="../scripts/directive/directive.js"></script>
</body>
</html>
