body {
    color: #797979;
    background: #f1f2f7;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    padding-bottom:50px;
}

.container {
    width: 100%;
    min-height: 550px;
}

.footer {
    height: 50px;
    width: 100%;
    background: #F6F6F6;
    padding-top: 10px;
}

/*panel*/
.panel-heading {
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 5px 20px;
}

/*sec-panel*/
.sec-panel {
    /*padding-left: 5%;*/
}

.sec-panel .panel-heading {
    font-size: 14px;
    height: 28px;
    padding: 5px 20px;
}

table th {
    text-align: center;
}

.app {
    background-color: #f5f5f5;
}

.app .tab-content {
    background-color: #ffffff;
}

#config-info {
    padding: 20px 0px;
}

#config-info .nav {
    background-color: #f5f5f5;
}

#config-info .config-info-container {
    padding: 20px 20px;
}

#config-info nav {
    margin-top: -20px;
}
