body {
    color: #797979;
    background: #fff;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    min-height: 650px;
}

a{
    cursor: pointer;
}

.footer {
    height: 100px;
    width: 100%;
    background: #F6F6F6;
    padding-top: 40px;
}

/*panel*/
.panel{
    border: 1px solid #ddd;
}
.panel-heading {
    height: 45px;
    font-size: 14px;
    background-color: #f5f5f5;
    padding: 5px 20px;

}

table th {
    text-align: center;
}

.app {
    background-color: #f5f5f5;
}

#config-info {
    min-height: 500px;
    background-color: #ffffff;
}

#config-info .nav {
    background-color: #f5f5f5;
}

#config-edit {
    border: 1px solid #ddd;
    border-radius: 3px;
}

#config-edit .panel-heading {
    border-bottom: 1px solid #ddd;
}

.tocify-header {
    font-size: 14px;
}

.tocify-subheader {
    font-size: 13px;
}

.Hide {
    display: none;
}

.config-item-container .config-items {
    height: 500px;
    overflow: scroll;
}
.namespace-view-table{
    max-height: 700px;
    overflow: scroll;
}

.history-view {
    padding: 50px 20px;

}

.history-view .commit {
    padding: 5px 15px;
    border: 1px solid #ddd;
}

.history-view img {
    position: absolute;
    left: -28px;
}

.history-view .media .row {
    padding-left: 35px;
}

.history-view .list {
    position: relative;
    border-left: 3px solid #ddd;
}

.line {
    width: 20px;
    border: 1px solid #ddd;
}

.editable-table > tbody > tr > td {
    padding: 4px
}

.editable-text {
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}

.editable-table tbody > tr > td > .controls {
/ / width: 100 %
}

.editable-input {
    padding-left: 3px;
}

.editable-input.input-sm {
    height: 30px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

