html, body {
    height: 100%
}

body {
    color: #797979;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    /*min-height: 650px;*/
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
}

.i-20{
    height: 20px;
    width: 20px;
}

.i-25-20{
    height: 20px;
    width: 25px;
}

.i-15{
    height: 15px;
    width: 15px;
}

.apollo-container {
    min-height: 90%;
}

.navbar-default {
    background-color: #ffffff;
    border: none;
}

.footer {
    width: 100%;
    height: 75px;
    margin-top: -75px;
    padding-top: 25px;
}

/*panel*/
.panel {
    border: 1px solid #ddd;
}

table th {
    text-align: center;
}

/*首页*/
.site-notice {
    padding: 5px 0;
    text-align: center;
    background-color: #208d4e;
}

.site-notice {
    color: #eee;
}

.site-notice a {
    color: #ffffff;
}

.site-notice a:hover {
    text-underline: none;
}

.site-notice .selected {
    color: #000000;
}

.site-header {
    position: relative;
    text-align: center;
    background-color: #27AE60;
    color: #fff;
    margin-bottom: 0;
}

.site-header .search {
    border: 2px solid #27AE60;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}

.site-header h1 {
    font-size: 56px;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
}

.site-header span {
    font-size: 14px;
}

.list-group {
    margin-top: 20px;
}

.apps .apps-description {
    color: gray;
    font-family: "Apple Color Emoji";
    font-size: 16px;
}

.app {
    padding-bottom: 75px;
    overflow: hidden;
}

.app td, th {
    display: table-cell;
    vertical-align: inherit;
}

.project-info {
    width: 100%;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}

.project-info th {
    text-align: right;
    padding: 4px 6px;
    white-space: nowrap;
}

.project-info td {
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px dotted gray;
    padding: 4px 6px;
}

#config-info {
    min-height: 500px;
    /*background-color: #ffffff;*/
}

#config-info .nav {
    background-color: #f5f5f5;
}

#config-edit {
    border: 1px solid #ddd;
    border-radius: 3px;
}

#config-edit .panel-heading {
    border-bottom: 1px solid #ddd;
}

.tocify-header {
    font-size: 14px;
}

.tocify-subheader {
    font-size: 13px;
}

.Hide {
    display: none;
}

.config-item-container {
    padding-top: 19px;
}

.config-item-container .config-items {
    height: 500px;
    overflow: scroll;
}

.namespace-view-table {
    max-height: 700px;
}

.namespace-view-table table {
    table-layout: fixed;
}

.namespace-view-table tr{
    cursor: pointer;

}
.namespace-view-table td {
    word-wrap: break-word;
}

.history-view {
    padding: 50px 20px;

}

.history-view .commit {
    padding: 5px 15px;
    border: 1px solid #ddd;
}

.history-view img {
    position: absolute;
    left: -28px;
}

.history-view .media .row {
    padding-left: 35px;
}

.history-view .list {
    position: relative;
    border-left: 3px solid #ddd;
}

.line {
    width: 20px;
    border: 1px solid #ddd;
}

.editable-table > tbody > tr > td {
    padding: 4px
}

.editable-text {
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}

.editable-table tbody > tr > td > .controls {
/ / width: 100 %
}

.editable-input {
    padding-left: 3px;
}

.editable-input.input-sm {
    height: 30px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

