html, body {
    height: 100%
}

body {
    min-width: 960px;
    color: #797979;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
}

body.modal-open {
    overflow: visible;
}

a {
    cursor: pointer;
}

p, td, span {
    word-wrap: break-word;
    word-break: break-all;
}

table{
    text-align: center;
}

.no-radius{
    border-radius: 0px;
}

.hide-border-top{
    border-top: 0px;
}

.logo {
    width: 150px;
    height: 50px;
    background: url('../img/logo.png') no-repeat
}

.i-20 {
    height: 20px;
    width: 20px;
}

.i-25-20 {
    height: 20px;
    width: 25px;
}

.i-15 {
    height: 15px;
    width: 15px;
}

.apollo-container {
    min-height: 90%;
}

.navbar-default {
    background-color: #ffffff;
    border: none;
}

.footer {
    width: 100%;
    height: 75px;
    padding-top: 25px;
}

/*panel*/
.panel {
    border: 1px solid #ddd;
}

table th {
    text-align: center;
}

/*首页*/
.site-notice {
    padding: 5px 0;
    text-align: center;
    background-color: #208d4e;
}

.site-notice {
    color: #eee;
}

.site-notice a {
    color: #ffffff;
}

.site-notice a:hover {
    text-underline: none;
}

.site-notice .selected {
    color: #000000;
}

.site-header {
    position: relative;
    text-align: center;
    background-color: #27AE60;
    color: #fff;
    margin-bottom: 0;
}

.site-header .search {
    border: 2px solid #27AE60;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}

.site-header h1 {
    font-size: 56px;
    text-shadow: -5px 5px 0 rgba(0, 0, 0, 0.1);
}

.site-header span {
    font-size: 14px;
}

.list-group {
    margin-top: 20px;
}

.node-treeview {
    color: #797979;
}

.apps .apps-description {
    color: gray;
    font-size: 16px;
}

.app {
    padding-bottom: 75px;
    overflow: hidden;
}

.app td, th {
    display: table-cell;
    vertical-align: inherit;
}

.project-info {
    width: 100%;
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}

.project-info th {
    text-align: right;
    padding: 4px 6px;
    white-space: nowrap;
}

.project-info td {
    border-bottom: 1px dotted gray;
    padding: 4px 6px;
}

#config-info {
    min-height: 500px;
}

#config-edit {
    border: 1px solid #ddd;
    border-radius: 3px;
}

#config-edit .panel-heading {
    border-bottom: 1px solid #ddd;
}

.tocify-header {
    font-size: 14px;
}

.tocify-subheader {
    font-size: 13px;
}

.config-item-container {
    padding-top: 19px;
}

.config-item-container .panel {
    border-radius: 0px;
}

.config-item-container .panel-heading b {
    font-size: 18px;
}

.config-item-container .panel-heading .badge {
    padding: 1px 4px;
    background: #ffffff;
    color: #0f0f0f;
}

.config-item-container .form-control[disabled] {
    background: #ffffff;
    border: 0px;
}

.config-item-container .second-panel-heading .ns_btn {
    width: 25px;
    height: 25px;
    border-top: solid 1px #ffffff;
}

.config-item-container .second-panel-heading .nav-tabs .node_active {
    border-bottom: 3px #1b6d85 solid;

}

.config-item-container .config-items {
    height: 500px;
    overflow: scroll;
}

.config-item-container .panel-heading button img {
    width: 12px;
    height: 12px;
}

.config-item-container .panel-heading a img {
    width: 12px;
    height: 12px;
}

.config-item-container .panel-heading li img {
    width: 12px;
    height: 12px;
}

.config-item-container .second-panel-heading {
    height: 45px;
}

.config-item-container .second-panel-heading a {
    height: 35px;
    color: #555;
    font-size: 13px;
    margin-bottom: 2px;
}

.namespace-attribute-panel {
    margin-left: 0px;
    color: #fff;
    border-top: 0px;
    background: #f1f2f7;
}

.namespace-attribute-public{
    background: #31708f;
    width: 40px;
    cursor: pointer;
}


.second-panel-heading .nav-tabs {
    border-bottom: 0px;
}

.namespace-view-table td img {
    cursor: pointer;
    width: 23px;
    height: 23px;

}

.namespace-view-table table {
    table-layout: inherit;
}

.namespace-view-table td {
    word-wrap: break-word;
}

.namespace-view-table .glyphicon {
    cursor: pointer;
}

.history-view {
    padding: 10px 20px;

}

.line {
    width: 20px;
    border: 1px solid #ddd;
}

.editable-table > tbody > tr > td {
    padding: 4px
}

.editable-text {
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline-block;
}

.editable-table tbody > tr > td > .controls {
/ / width: 100 %
}

.editable-input {
    padding-left: 3px;
}

.editable-input.input-sm {
    height: 30px;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.list-group-item .btn-title {
    color: gray;
    font-family: "Apple Color Emoji";
    font-size: 16px;
}

/*搜索框*/
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: rgba(255, 255, 255, 0);
}

.app-list {
    width: 350px;
    height: 200px;
    position: absolute;
    margin-left: 0px;
    cursor: pointer;
    background: #ffffff;
    border: 1px solid #ddd;
    overflow-y: scroll;
    z-index: 1000;
}

.app-list .app-item {
    font-size: medium;
    padding: 5px 10px;

}

.app-list .app-item:hover {
    color: #ffffff;
    background: #C3C3C3;
}

.app-list .app-selected {
    color: #ffffff;
    background: #c3c3c3;
}

.user-container {
    margin-top: 15px;
    padding: 20px 15px
}

.user-container .user-info {
    margin-left: 5px;
}

.change-type-mark {
    width: 5px;
    height: 5px;
}

.release-history .media-body{
    padding-left: 20px;
}

.release-history .panel-body .load-more{
    margin-top: 20px;
}

.release-history .media-body textarea{
    margin-top: 10px;
}

.release-history .icon{
    font-size: 13px;
}

.release-history .info{
    font-size: 13px;
    margin-left: 5px;
    margin-top: 2px;
}

.release-history .user .info{
    font-size: 22px;
}

.release-history .time{
    padding-top: 8px;
}

.release-history .comment{
    padding-top: 10px;
}

.release-history .table{
    margin-top: 15px;
}

.release-history .badge-0{
    background: #f0ad4e;
}

.release-history .badge-1{
    background: #c3c3c3;
}

.release-history .badge-2{
    background: #27AE60;
}

.release-history .badge-3{
    background: #3478a8;
}

.release-history .label{
    margin-right: 15px;
}
