<!--配置信息-->
<div class="tab-pane active" id="config-info" style="min-height: 500px;">
    <!--环境nav-->
    <ul class="nav nav-pills nav-justified">
        <li ng-repeat="env in envs" ng-class="{active:configLocation.env == env}">
            <a href="#" ng-click="switchEnv(env)">{{env}}</a>
        </li>
    </ul>

    <!--具体配置信息-->
    <div class="row config-info-container">
        <!--tag导航-->
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="dropdown-header">未发布</li>
                <li role="presentation" ng-class="{active:configLocation.versionId == -1}"
                    ng-click="switchVersion(-1)"><a href="#">latest</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">已发布</li>
                <li ng-repeat="version in releaseVersions"
                    ng-class="{active:configLocation.versionId == version.id}">
                    <a href="#" ng-click="switchVersion(version.id)">{{version.name}}</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="panel">
                <header class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">项目的基本配置</div>
                        <div class="col-md-6" ng-show="!currentVersionIsRelease">
                            <p class="text-right">
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top" title="下载配置">
                                                    <span class="glyphicon glyphicon-save"
                                                          aria-hidden="true"></span>
                                </a>
                                &nbsp;
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top" title="添加配置">
                                                    <span class="glyphicon glyphicon-plus"
                                                          aria-hidden="true"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </header>

                <!--配置列表-->
                <div class="panel-body">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th>
                                Key
                            </th>
                            <th>
                                value
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                备注
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                最后修改人
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                最后修改时间
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                操作
                            </th>

                        </tr>
                        </thead>
                        <tbody ng-repeat="config in config.defaultClusterConfigs">

                        <tr>
                            <td>
                                {{config.key}}
                            </td>
                            <td>
                                {{config.value}}
                            </td>
                            <td ng-show="!currentVersionIsRelease">
                                {{config.comment}}
                            </td>
                            <td ng-show="!currentVersionIsRelease">
                                {{config.dataChangeLastModifiedBy}}
                            </td>
                            <td ng-show="!currentVersionIsRelease">
                                {{config.dataChangeLastModifiedTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                            </td>

                            <td ng-show="!currentVersionIsRelease">
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top" title="修改">
                                                    <span class="glyphicon glyphicon-edit"
                                                          aria-hidden="true"></span>
                                </a>
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top" title="删除">
                                                    <span class="glyphicon glyphicon-remove"
                                                          aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <nav class="text-right">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!--重写框架的配置-->
            <div ng-repeat="overrideAppConfig in config.overrideAppConfigs">
                <div class="panel sec-panel">
                    <header class="panel-heading">
                        <div class="row">
                            <div class="col-md-6">重写<a
                                    href="#">{{overrideAppConfig.appId}}</a>的配置
                            </div>
                            <div class="col-md-6" ng-show="!currentVersionIsRelease">
                                <p class="text-right">
                                    <a href="#" data-toggle="tooltip"
                                       data-placement="top"
                                       title="下载配置">
                                                            <span class="glyphicon glyphicon-save"
                                                                  aria-hidden="true"></span>
                                    </a>
                                    &nbsp;
                                    <a href="#" data-toggle="tooltip"
                                       data-placement="top"
                                       title="添加配置">
                                                            <span class="glyphicon glyphicon-plus"
                                                                  aria-hidden="true"></span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </header>

                    <!--配置列表-->
                    <div class="panel-body">
                        <table class="table table-bordered text-center">
                            <thead>
                            <tr>
                                <th>
                                    Key
                                </th>
                                <th>
                                    value
                                </th>
                                <th ng-show="!currentVersionIsRelease">
                                    备注
                                </th>
                                <th ng-show="!currentVersionIsRelease">
                                    最后修改人
                                </th>
                                <th ng-show="!currentVersionIsRelease">
                                    最后修改时间
                                </th>
                                <th ng-show="!currentVersionIsRelease">
                                    操作
                                </th>

                            </tr>
                            </thead>
                            <tbody ng-repeat="config in overrideAppConfig.configs">
                            <tr>
                                <td>
                                    {{config.key}}
                                </td>
                                <td>
                                    {{config.value}}
                                </td>
                                <td ng-show="!currentVersionIsRelease">
                                    {{config.comment}}
                                </td>
                                <td ng-show="!currentVersionIsRelease">
                                    {{config.dataChangeLastModifiedBy}}
                                </td>
                                <td ng-show="!currentVersionIsRelease">
                                    {{config.dataChangeLastModifiedTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                                </td>

                                <td ng-show="!currentVersionIsRelease">
                                    <a href="#" data-toggle="tooltip"
                                       data-placement="top"
                                       title="修改">
                                                                    <span class="glyphicon glyphicon-edit"
                                                                          aria-hidden="true"></span>
                                    </a>
                                    <a href="#" data-toggle="tooltip"
                                       data-placement="top"
                                       title="删除">
                                                                    <span class="glyphicon glyphicon-remove"
                                                                          aria-hidden="true"></span>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>

                </div>
            </div>

            <!--集群特有的配置-->
            <div class="panel" ng-show="showClusterConfigs">
                <header class="panel-heading">
                    <div class="row">
                        <div class="col-md-1 text-right">
                            集群
                        </div>
                        <div class="col-md-3">

                            <select class="form-control"
                                    ng-model="config.selectedCluster"
                                    ng-change="selectCluster()"
                                    ng-options="item as item.clusterName for item in config.overrideClusterConfigs track by item.clusterName">

                            </select>

                        </div>
                        <div class="col-md-2 text-left">

                        </div>
                        <div class="col-md-6" ng-show="!currentVersionIsRelease">
                            <p class="text-right">
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top" title="下载配置">
                                                    <span class="glyphicon glyphicon-save"
                                                          aria-hidden="true"></span>
                                </a>
                                &nbsp;
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top" title="添加配置">
                                                    <span class="glyphicon glyphicon-plus"
                                                          aria-hidden="true"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                </header>

                <!--配置列表-->
                <div class="panel-body">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <th>
                                Key
                            </th>
                            <th>
                                value
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                备注
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                最后修改人
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                最后修改时间
                            </th>
                            <th ng-show="!currentVersionIsRelease">
                                操作
                            </th>

                        </tr>
                        </thead>
                        <tbody ng-repeat="config in config.selectedClusterKVs">
                        <tr>
                            <td>
                                {{config.key}}
                            </td>
                            <td>
                                {{config.value}}
                            </td>
                            <td ng-show="!currentVersionIsRelease">
                                {{config.comment}}
                            </td>
                            <td ng-show="!currentVersionIsRelease">
                                {{config.dataChangeLastModifiedBy}}
                            </td>
                            <td ng-show="!currentVersionIsRelease">
                                {{config.dataChangeLastModifiedTime | date: 'yyyy-MM-dd HH:mm:ss'}}
                            </td>

                            <td ng-show="!currentVersionIsRelease">
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top"
                                   title="修改">
                                                                    <span class="glyphicon glyphicon-edit"
                                                                          aria-hidden="true"></span>
                                </a>
                                <a href="#" data-toggle="tooltip"
                                   data-placement="top"
                                   title="删除">
                                                                    <span class="glyphicon glyphicon-remove"
                                                                          aria-hidden="true"></span>
                                </a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <br>
                </div>

            </div>
        </div>

    </div>

</div>
