<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel">

            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">应用ID:</label>
                        <label class="col-sm-3 control-label text-left">
                            {{app.appId}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">应用名称:</label>
                        <label class="col-sm-3 control-label text-left">
                            {{app.name}}
                        </label>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Owner:</label>
                        <label class="col-sm-3 control-label text-left">
                            {{app.owner}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号:</label>
                        <label class="col-sm-3 control-label text-left">
                            {{app.ownerPhone}}
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱地址:</label>
                        <label class="col-sm-3 control-label text-left">
                            {{app.ownerMail}}
                        </label>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
