<div ng-controller="DemoController as demoCtrl">
    <h1>Apollo Config Client Demo</h1>

    <div id="env-wrapper">
        <h3>Current Client Side Registries:</h3>
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>AppId</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in demoCtrl.registries">
                <td>{{item.appId}}</td>
                <td>{{item.version}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="load-config-wrapper">
        <h3>Load Config:</h3>
        <form name="loadConfigForm" class="form-horizontal" novalidate
              ng-submit="demoCtrl.queryConfig()">
            <div class="form-group"
                 ng-class="{ 'has-error' : loadConfigForm.configName.$invalid && loadConfigForm.configName.$dirty}">
                <div id="input-config-wrapper" class="clearfix">
                    <label class="col-sm-2 control-label">Config Name</label>

                    <div class="col-sm-3">
                        <input type="text" name="configName" class="form-control"
                               ng-model="demoCtrl.configQuery.configName"
                               autofocus="true" required autocomplete="off"/>

                        <p ng-show="loadConfigForm.configName.$invalid && loadConfigForm.configName.$dirty"
                           class="help-block">Please fill
                            in the content</p>
                    </div>

                    <input type="submit" class="btn btn-primary col-sm-1" value="query"
                           ng-disabled="loadConfigForm.$pristine || loadConfigForm.$invalid"/>
                </div>
                <div id="config-value-wrapper" class="clearfix">
                    <label class="col-sm-2 control-label">Config Value</label>
                    <div class="col-sm-3">
                        <textarea rows="2" cols="38" readonly
                                  class="form-control">{{demoCtrl.configQuery.configValue}}</textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div>
        <h3>Load Injected Config:</h3>
        <form name="loadInjectedConfigForm" class="form-horizontal" novalidate
              ng-submit="demoCtrl.queryInjectedConfig()">
            <div class="form-group">
                <div class="clearfix">
                    <label class="col-sm-2 control-label">apollo.foo</label>
                    <div class="col-sm-3">
                        <input type="text" name="injectedConfigValue" class="form-control"
                               ng-model="demoCtrl.injectedConfigValue" readonly/>
                    </div>

                    <input type="submit" class="btn btn-primary col-sm-1" value="query"/>
                </div>
            </div>
        </form>
    </div>

    <div id="refresh-config-wrapper">
        <h3>Refresh Config:</h3>
        <button type="button" class="btn btn-primary" ng-click="demoCtrl.refreshConfig()">Refresh
            Config
        </button>
        <div id="refresh-result">
            <strong>Changed Properties:</strong> {{demoCtrl.refreshResult}}
        </div>
    </div>

</div>
