<!doctype html>
<html ng-app="create_app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../vendor/angular/angular-toastr-1.4.1.min.css">
    <link rel="stylesheet" type="text/css" media='all' href="../vendor/angular/loading-bar.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/common-style.css">
    <title>新建项目</title>
</head>

<body>

<div ng-include="'common/nav.html'"></div>

<div class="container">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel">
                    <header class="panel-heading">
                        创建项目
                    </header>

                    <div class="panel-body">
                        <form class="form-horizontal" ng-controller="CreateAppController" ng-submit="save()">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><font style="color: red">*</font> 应用ID</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="appAppId" ng-model="app.appId"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><font style="color: red">*</font> 应用名称</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="appName" ng-model="app.name" required>
                                </div>
                            </div>
                            <!--接入sso之后将会去除-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Owner</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="appOwner" ng-model="app.ownerName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 邮箱地址</label>
                                <div class="col-sm-4">
                                    <input type="email" class="form-control" ng-model="app.ownerEmail">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">

                                    <button type="submit" class="btn btn-default">创建</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'common/footer.html'"></div>

<!--angular-->
<script src="../vendor/angular/angular.min.js"></script>
<script src="../vendor/angular/angular-route.min.js"></script>
<script src="../vendor/angular/angular-resource.min.js"></script>
<script src="../vendor/angular/angular-toastr-1.4.1.tpls.min.js"></script>
<script src="../vendor/angular/loading-bar.min.js"></script>

<!-- jquery.js -->
<script src="../vendor/jquery.js" type="text/javascript"></script>

<!-- bootstrap.js -->
<script src="../vendor/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<script type="application/javascript" src="../scripts/app.js"></script>
<script type="application/javascript" src="../scripts/services/AppService.js"></script>
<script type="application/javascript" src="../scripts/controller/CreateAppController.js"></script>
</body>
</html>
